%header ttttttt

.content-left
  .content-left-head
    .content-left-head__title 
    =current_user.name
    .content-left-head__font
      =link_to edit_user_path(current_user) do
        =fa_icon("cog")
        
      =link_to do
        =fa_icon("edit")
  .content-left-body
    .left-body-message1 ttttttt
    .left-body-message2 ttttttttt
    .left-body-message3 tttttttt

.content-right
  .content-right-edit
    .content-right-edit-btn edit
    .content-right-edit__message1 tttttt
    .content-right-edit__message2 ttttttt

  .content-right-body
    .content-right-body__box1
      .content-right-body__box1--message1 test
      .content-right-body__box1--message2 test
    .content-right-body__box2
      .content-right-body__box2--message1 test
      .content-right-body__box2--message2 test
      .content-right-body__box2--message3 test

  .message-send
    %form
      %input{:type=>"text"}
        %label
          =fa_icon("image")
          %input{:type=>"file"}
      %input{:type=>"submit",:value=>"Send"}