!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %header rere
    .content_left
      .contentleft_head
        .p1 test
        .font
          =link_to do
            %i.fas.fa-cog
          =link_to do
            %i.fas.fa-edit
      .contentleft_body
        .p2 ttttttt
        .p3 ttttttttt
        .p4 tttttttt
    .content_right
      .message_edit
        .edit edit
        .p6 tttttt
        .p66 ttttttt
      .messages
        .box1
          .p7 test
          .p77 test
        .box2
          .p8 test
          .p9 test
          .p10 test
        
      .message_send
        %form
          %input{:type=>"text"}
            %label
              %i.fa.fa-image
              %input{:type=>"file"}
            
          %input{:type=>"submit",:value=>"Send"}
