!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    %header rere
    .content_left
      .contentleft_head
        .p1 test
      .contentleft_body
        .p2 ttttttt
        .p3 ttttttttt
        .p4 tttttttt
    .content_right
      .message_edit
        .edit edit
        .p5 ttttt
        .p6 tttttt
      .messages
        .p7 test
        .p8 test
        .p9 test
        .p10 test
      .message_send