%html
  %body
    %header rere
    
    .content-left
      .content-left_head
        .content-left_head_title test
        .content-left_head_font
          =link_to do
            %i.fas.fa-cog
          =link_to do
            %i.fas.fa-edit
      .content-left_body
        .group-first_message ttttttt
        .group-second_message ttttttttt
        .group-third_message tttttttt

    .content-right
      .content-right_edit
        .content-right_edit_btn edit
        .edit-group-first_message tttttt
        .edit-group-second_message ttttttt
      .content-right_messages
        .messages-box_first
          .messages-box_first_first test
          .messages-box_first_second test
        .messages-box_second
          .messages-box_second_first test
          .messages-box_second_second test
          .messages-box_second_thrid test

      .message-send
        %form
          %input{:type=>"text"}
            %label
              %i.fa.fa-image
              %input{:type=>"file"}
          %input{:type=>"submit",:value=>"Send"}
