
.content-right-edit{
  box-sizing: border-box;
  height: 100px;
  border-bottom: solid 5px #eeeeee;
  padding: 0 40px;
  .left-header{
    float:left;
	&__message1{
      padding-top: 35px;
	  font-size: 20px;
	  color: #333333;
	}
	&__message2{
	  padding-top:15px;
	  font-size: 12px;
	  color: #999999;
    }
  }
}

.content-right-edit-btn{
  float: right;
  height: 40px;
  border: solid 2px #38AEF0;
  margin: 28px 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  line-height: 1;
  color: #38AEF0;
}

.messages{
  height: calc(100vh - 100px - 100px);
  background-color: #fafafa;
  overflow: auto;
  .message{
    padding-top: 46px;
    margin: $margin2;
    &__name{
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
    &__date{
      display: inline-block;
      margin-left: 10px;
      font-size: 12px;
      color: #999999;
	}
    &__text{
      padding-top: 10px;  
    }
  }
}

.wrapper{
  height: 50px;
  border-top: solid 25px grey;
  border-bottom: solid 25px grey;
  border-left: solid 40px grey;
  border-right: solid 40px grey
}

.form{
  &__message{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: #434A54;
    width: 880px;
    border: none;
    position: absolute;
  }
  &__mask{
    position: absolute;
    padding-top: 10px;
    right: 170px;
      .hidden{
        position: absolute;
        z-index: 10;
        display: none;
      }
      .icon{
         position: relative;
         z-index: 20;
      }
  }
}
.form__submit{
  height: 50px;
  width: 111px;
  background-color: #38AEF0;
  color: white;
  border-left: solid 15px grey;
  border-bottom: none;
  border-right: none;
  border-top: none;
  float: right; 
}
