

.content-left-head{
    height: 100px;
	background-color: #253142;
    &__title{
		font-weight: bold;
		font-size: 16px;
		margin: $margin;
		padding-top: 35px;
		color: $white;
		width: 50px;
		float: left;
    }
	&__font{
		float: right;
		padding-top: 35px;
		margin-right: 20px;
		text-decoration: none;
	}
	.fa{
		color: white;
	}
}

.content-left-body{
	margin: $margin;
	font-weight: bold;
	color: $white;
	font-size: 15px;
	height: calc(100vh - 100px);
	.left-body-message1{
	    margin-top:20px;
	}
	.left-body-message2{
		font-size: 11px;
		margin-top: 5px;
	}
	.left-body-message3{
		margin-top: 40px;
	}
}
