@import "./reset";
@import "./variable";


body{
	width:100vw;
	height: 100vh;
}

header{
	background-color: #38AEF0;
	text-align: center;
}




.content_left{
	background-color: #2f3e51;
	float:left;
	width: 300px;
	height: 100vh;
}

.contentleft_head{
	height: 100px;
	background-color: #253142;
}

.p1{
font-weight: bold;
font-size: 16px;
margin:$margin;
padding-top: 35px;
color: $white;
width: 50px;
float:left;
	}

.font{
	float:right;
	padding-top: 35px;
	margin-right: 20px;
}

.contentleft_body{
	margin: $margin;
	font-weight: bold;
	color: $white;
	font-size: 15px;
	.p2{
		margin-top:20px;
	}
	.p3{
		font-size: 11px;
		margin-top:5px;
	}
	.p4{
		margin-top:40px;
	}
}



.content_right{
	height: 100vh;
    width: calc(100vw - 300px);
	float: right;
}
.message_edit{
	height:100px;
	border-bottom:solid 5px #eeeeee;
}
.p6{
	margin:$margin2;
	padding-top:35px;
	font-size:20px;
	color:#333333;
}
.p66{
	margin:$margin2;
	padding-top:15px;
	font-size:12px;
	color:#999999;
	box-sizing:border-box;
}
.edit{
	float:right;
	height:40px;
	border:solid 2px blue;
	margin:28px 40px;
	padding: 10px 20px;
	box-sizing:border-box;
    line-height: 1;
}
.messages{
	height:calc(100vh - 105px - 100px);
	background-color:#fafafa;
	
  .box1{
		padding-top:46px;
		margin:$margin2;
	.p7{
		display:inline-block;
	}
	.p77{
		display: inline-block;
		margin-left: 10px;
		font-size:12px;
		color:#999999;
	}
  }
}

  .box2{
  	margin:$margin2;

	.p8{
       padding-top:10px;
   }
	.p9{
       padding-top:40px;
       font-size:16px;
       color:$text;
       font-weight:bold;
	}
	.p10{
       font-size:14px;
       color:$text;
	}
}

.message_send{
	height: 50px;
    border-top: solid 25px grey;
    border-bottom: solid 25px grey;
    border-left: solid 40px grey;
    border-right: solid 40px grey
}

form{
	height:46px;
	border: none;

input[type="text"]{
    padding-left: 10px;
    font-size: 16px;
    color: $text;
    width:912px;
    border:none;
}

label{

input[type="file"]{
position: absolute;
z-index: 10;
display:none;
}
}

i.fa.fa-image{
position:relative;
z-index:20;
}

input[type="submit"]{
    height: 50px;
    width: 111px;
    background-color: #38AEF0;
    color:white;
    border-left: solid 15px grey;
    border-bottom: none;
    border-right: none;
    border-top: none;
}
}